---
const { title = "", identifier = "", url = "" } = Astro.props;
---

<section id="comments" style="margin-top:2rem;">
  <div
    id="cusdis_thread"
    data-host="https://cusdis.com"
    data-app-id="c782287e-098a-4260-a244-7df574a09704"
    data-page-id="{{ PAGE_ID }}"
    data-page-url="{{ PAGE_URL }}"
    data-page-title="{{ PAGE_TITLE }}"
  >
  </div>
  <script async defer src="https://cusdis.com/js/cusdis.es.js"></script>

  <noscript>Enable JavaScript to view comments.</noscript>
</section>
